# python
nohup.out
app copy.py
bpp copy.py
wstest copy.py
wstest copy 2.py
q*
getws.py
duid.py
addedge.py
adduser.py
ap.py
config.py
.DS_Store
**/.DS_Store
.DS_Store
**/.DS_Store
.DS_Store
**/.DS_Store

# javascript
node_modules
dist
yarn.lock
package-lock.json
.envrc
lib
test.html
bench.js

.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# golang
nak
mnt
nak.exe