[submodule "causality-dash"]
	path = causality-dash
	url = https://github.com/hetu-project/causality_front.git
[submodule "core/go-sdk"]
	path = core/go-sdk
	url = https://github.com/hetu-project/cRelay-go-sdk.git
[submodule "core/js-sdk"]
	path = core/js-sdk
	url = https://github.com/hetu-project/cRelay-js-sdk.git
[submodule "core/crdt-db"]
	path = core/crdt-db
	url = https://github.com/hetu-project/cRelay-crdt-db.git
[submodule "core/cRelay"]
	path = core/cRelay
	url = https://github.com/hetu-project/cRelay-nak.git
[submodule "core/go-orbit-db"]
	path = core/go-orbit-db
	url = https://github.com/hetu-project/cRelay-go-orbit-db.git
